* {
    box-sizing: border-box;
}

body {
    background-color: #343a40;
    grid-gap: 10px;
}

header {
    text-align: center;
    padding: 10px; 
    background-color: #680212;
    color: #ebe7db;
    height: 120px;
}

main {
    display: none;
}

.tour {
    margin-top: 10px;
    color: #ebe7db;
    text-align: center;
}

.game {
    padding: 10px;
}

canvas {
    display: block;
    margin: auto;
    background-color: #ebe7db;
}

label {
    font-weight: bold;
}

.progress-bar {
    background-color: #aa393e;
}

footer {
    height: 180px;
}

#players {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.player {
    padding: 10px;
    color: #ebe7db;

}
    
.player h2 {
    border-bottom:2px solid transparent;

}
    
.player.active h2 {
    border-color: #aa393e;
}

    
    
.winner {
    background: #e8b029;
}
    
.buttons {
    display: none;
}
    
.battle .active .buttons {
    display: block;
}

.legend {
    height: 25px;
    text-align: center;
    color: #ebe7db;
}